.k-active {

}

.k-tabstrip-items-wrapper .k-item {
  color: black !important;
}

.k-tabstrip-items-wrapper .k-hstack {
  display: none !important;
}

.k-tabstrip-items {
  display: none !important;
}

div.k-animation-container-relative  {
  width: 100% !important;
}