@import "assets/css/tabstrip";
@import "assets/css/modal";
@import "assets/css/ui/dialog/dialogDirectory";
@import "assets/css/ui/dialog/dialogDownloadFile";
@import "src/components/data/DocumentLayoutGrid";

.document {
  padding: 10px;
  width: 100%;
  height: 100%;
}