@import "assets/css/tabstrip";
@import "assets/css/modal";
@import "assets/css/ui/dialog/dialogDirectory";
@import "assets/css/ui/dialog/dialogDownloadFile";

.document {
  padding: 10px;
  width: 100%;
  height: 100%;
}